body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.my-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222;
  padding-left: 15%;
}

@media (min-width: 576px) and (max-width: 1075px) {
  .my-container .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .my-container .navbar {
    padding-left: 0%;
  }
}

.my-container .navbar li.nav-item {
  padding: 10px 8px;
}

@media (max-width: 1075px) {
  .my-container .navbar li.nav-item {
    padding: 5px 3px;
  }
}

@media (max-width: 645px) {
  .my-container .navbar li.nav-item {
    padding: 5px 1px;
  }
}

@media (max-width: 585px) {
  .my-container .navbar li.nav-item {
    padding: 5px 0px;
  }
}

.my-container .navbar .navbar-brand img {
  height: 50px;
}

@media (max-width: 1075px) {
  .my-container .navbar .navbar-brand img {
    height: 35px;
  }
}

.my-container .navbar button.navbar-toggler {
  background-color: #00c2ff;
  border-color: #222;
  padding: 7px;
}

.my-container .navbar button.navbar-toggler .icon-bar {
  background-color: white;
  display: block;
  color: white;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.my-container .navbar button.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.my-container .navbar .navbar-collapse {
  padding-left: 25%;
}

@media (max-width: 1350px) {
  .my-container .navbar .navbar-collapse {
    padding-left: 5%;
  }
}

@media (max-width: 900px) {
  .my-container .navbar .navbar-collapse {
    padding-left: 0%;
  }
}

.my-container .navbar .navbar-collapse a {
  color: white;
  font-size: 16px;
}

@media (max-width: 625px) {
  .my-container .navbar .navbar-collapse a {
    font-size: 15px;
  }
}

.my-container .content {
  margin-top: 76px;
}

@media (max-width: 576px) {
  .my-container .content {
    margin-top: 61px;
  }
}

.my-container .content .banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-container .content .banner .banner-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 2px 2px 7px #222;
}

.my-container .content .banner .banner-text .select-areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.my-container .content .banner .banner-text .select-areas .select-area {
  background-color: #14c6ff;
  border-radius: 16px;
  padding: 4px 10px;
  cursor: pointer;
}

.my-container .content .banner .banner-text .select-areas .select-area:hover {
  background-color: #3bceff;
}

.my-container .content .neighborhoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.my-container .content .neighborhoods .card-container {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .my-container .content .neighborhoods .card-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .my-container .content .neighborhoods .card-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .my-container .content .neighborhoods .card-container {
    width: 1170px;
  }
}

.my-container .content .neighborhoods .card-container .neighborhoodCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 33.3%;
  position: relative;
  padding: 15px;
}

@media (max-width: 992px) {
  .my-container .content .neighborhoods .card-container .neighborhoodCard {
    width: 100%;
  }
}

.my-container .content .neighborhoods .card-container .neighborhoodCard img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
}

@media (max-width: 992px) {
  .my-container .content .neighborhoods .card-container .neighborhoodCard img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .my-container .content .neighborhoods .card-container .neighborhoodCard img {
    height: 200px;
  }
}

.my-container .content .neighborhoods .card-container .neighborhoodCard .neighborhood-description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-shadow: 2px 2px 7px #222;
}

.my-container .content .neighborhoods .card-container .neighborhoodCard .neighborhood-description .title-cn {
  font-size: 25px;
  font-weight: bold;
}

.my-container .content .neighborhoods .card-container .neighborhoodCard .neighborhood-description .title-en {
  font-size: 18px;
}

.my-container .content .neighborhoods .card-container .neighborhoodCard .neighborhood-description .description {
  font-size: 15px;
}

.my-container .content .footer {
  text-align: center;
  color: #e0e0e0;
}

@media (max-width: 992px) {
  .my-container .content .footer {
    display: none;
  }
}

.my-container .content .footer .top-footer {
  background-color: #2c3742;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.my-container .content .footer .top-footer .contacts {
  padding: 20px 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 70px;
}

.my-container .content .footer .top-footer .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-container .content .footer .top-footer .contacts .contact .title {
  font-size: 16px;
  font-weight: bold;
  border-left: 1px solid #eeeeee;
  padding-left: 10px;
  margin-bottom: 10px;
}

.my-container .content .footer .top-footer .contacts .contact .item {
  font-size: 12px;
  padding-left: 10px;
}

.my-container .content .footer .top-footer .descriptions .company-description {
  font-size: 12px;
}

.my-container .content .footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #191e29;
  padding: 10px 0;
}

.my-container .content .footer .bottom-footer .policies {
  padding: 0 15vw;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1400px) {
  .my-container .content .footer .bottom-footer .policies {
    padding: 0 10vw;
  }
}

@media (max-width: 1300px) {
  .my-container .content .footer .bottom-footer .policies {
    padding: 0 3vw;
  }
}

.my-container .content .footer .bottom-footer .policies .policy {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 0 20px;
}

@media (max-width: 1300px) {
  .my-container .content .footer .bottom-footer .policies .policy {
    padding: 0 15px;
  }
}

.my-container .content .footer .bottom-footer .secure-number {
  font-size: 14px;
  padding: 20px 0;
}
/*# sourceMappingURL=index.css.map */