body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container {
  .navbar {
    display: flex;
    background-color: #222;
    padding-left: 15%;
    @media (min-width: 576px) and (max-width: 1060px) {
      flex-direction: column;
      padding-left: 0;
    }
    @media (max-width: 900px) {
      padding-left: 0%;
    }
    li {
      &.nav-item {
        padding: 10px 8px;
        @media (max-width: 900px) {
          padding: 5px 3px;
        }
        @media (max-width: 625px) {
          padding: 5px 1px;
        }
      }
    }
    .navbar-brand {
      img {
        height: 50px;

        @media (max-width: 1060px) {
          height: 35px;
        }
      }
    }
    button.navbar-toggler {
      background-color: #00c2ff;
      border-color: #222;
      padding: 7px;
      .icon-bar {
        background-color: white;
        display: block;
        color: white;
        width: 22px;
        height: 2px;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
    }
    .navbar-collapse {
      padding-left: 25%;
      @media (max-width: 1350px) {
        padding-left: 5%;
      }
      @media (max-width: 900px) {
        padding-left: 0%;
      }
      a {
        color: white;
        font-size: 16px;
        @media (max-width: 625px) {
          font-size: 15px;
        }
      }
    }
  }
}
